# ---------------------------
# Java / Spring Boot
# ---------------------------

*.class          # file compilati
target/          # cartella build Maven
build/           # cartella build Gradle/Android

# ---------------------------
# Android Studio
# ---------------------------

.idea/           # configurazioni IDE
*.iml            # moduli IntelliJ/Android Studio
local.properties # path SDK locale

# ---------------------------
# File OS generici
# ---------------------------

.DS_Store        # macOS
Thumbs.db        # Windows
